---
http_interactions:
- request:
    method: get
    uri: https://od-api.oxforddictionaries.com/api/v1/inflections/en/foxes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Key:
      - 54a708fbf47e3937465b7b480476953b
      App-Id:
      - db53b9d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Version:
      - v1.10.0-19-g9c8abf9
    body:
      encoding: UTF-8
      string: |-
        {
            "metadata": {
                "provider": "Oxford University Press"
            },
            "results": [
                {
                    "id": "foxes",
                    "language": "en",
                    "lexicalEntries": [
                        {
                            "grammaticalFeatures": [
                                {
                                    "text": "Third",
                                    "type": "Person"
                                },
                                {
                                    "text": "Singular",
                                    "type": "Number"
                                },
                                {
                                    "text": "Present",
                                    "type": "Tense"
                                }
                            ],
                            "inflectionOf": [
                                {
                                    "id": "fox",
                                    "text": "fox"
                                }
                            ],
                            "language": "en",
                            "lexicalCategory": "Verb",
                            "text": "foxes"
                        },
                        {
                            "grammaticalFeatures": [
                                {
                                    "text": "Plural",
                                    "type": "Number"
                                }
                            ],
                            "inflectionOf": [
                                {
                                    "id": "fox",
                                    "text": "fox"
                                }
                            ],
                            "language": "en",
                            "lexicalCategory": "Noun",
                            "text": "foxes"
                        }
                    ],
                    "word": "foxes"
                }
            ]
        }
  recorded_at: Wed, 12 Sep 2018 16:30:27 GMT
- request:
    method: get
    uri: https://od-api.oxforddictionaries.com/api/v1/inflections/en/foxez
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Key:
      - 54a708fbf47e3937465b7b480476953b
      App-Id:
      - db53b9d6
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - text/html
      Version:
      - v1.10.0-19-g9c8abf9
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
        <title>404 Not Found</title>
        <h1>Not Found</h1>
        <p>No lemmas found matching supplied source_lang and word</p>
  recorded_at: Wed, 12 Sep 2018 16:30:27 GMT
recorded_with: VCR 4.0.0
